body {
    background: url("../images/bg.jpg") no-repeat top right fixed;
}

.blur-light {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.blur-sidebar {
    background: rgb(18 18 18 / 83%);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    /* border-right: 1px solid rgb(135 135 135 / 30%);*/
}

.blur-bg-dialog {
    background: rgba(0, 0, 0, 0.25);
    /*box-shadow: 0 4px 30px rgb(0 0 0 / 10%);*/
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    /* border-right: 1px solid rgb(135 135 135 / 30%);*/
}


.brand-link {
    height: 4.05rem;
    border-bottom: rgb(255 255 255 / 30%) solid 1px;
}

.main-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.content-wrapper {
    background: none;
    /* backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); */
}

.main-footer {
    background: none;
    border: none;
    /* backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);   */
}

.card {
    background: #ffffff47;
    backdrop-filter: blur(20px);
    border: #ffffff36 solid 1px;
}

.card-body {
    background: white;
    margin: 14px;
    border-radius: 4px;
}

.modal-blur-light {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.modal-blur-light .modal-body {
    background: rgba(255, 255, 255, 1);
    margin: 0 14px;
    border-radius: 5px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.modal-blur-light .modal-header {
    border: none;
}
.modal-blur-light .modal-footer {
    border: none;
}

.img-thumbnail.is-invalid {
    border-color: #dc3545;
}

.statusBageSuccess {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: rgb(76 175 80);
    background: linear-gradient(
        0deg,
        rgba(0, 201, 17, 1) 0%,
        rgba(6 175 80) 100%
    );
    outline: 3px solid rgb(76 175 80 / 38%);
}
.statusBageWarnning {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: rgb(255, 145, 83, 1);
    background: linear-gradient(
        0deg,
        rgba(255, 209, 67, 1) 0%,
        rgba(255, 145, 83, 1) 90%
    );
    outline: 3px solid rgb(255 145 83 / 38%);
}
.statusBageDanger {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: rgb(239, 61, 78, 0.63);
    background: linear-gradient(0deg, rgb(239 61 78) 0%, rgb(141, 34, 45) 100%);
    outline: 3px solid rgb(141 34 45 / 38%);
}

.nav-treeview .nav-item .active i {
    color: var(--blue);
}

/* switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 23px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--green);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--green);
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* end switch button */

.draggable-mirror{
    /* display: none; */
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
}
.ui-sortable-helper{
    background: white;
    border: none;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
}
